version: '{build}'

branches:
  only:
    - main

image:
  - Ubuntu2004

install:
  - ps: git submodule init
  - ps: git submodule update
  - ps: nproc
  - ps: pwd
  - pushd ~
  - svn checkout -r 2980 https://svn.code.sf.net/p/tass64/code/trunk tass64-code
  - cd ~/tass64-code && make -j$(nproc)
  - popd
  - ps: $env:GHOULS_TNG_BUILD_SUFFIX = $(git log -1 --format=%cd-%h --date=format:%Y%m%d-%H%M%S $env:APPVEYOR_REPO_COMMIT)
  - ps: $env:GHOULS_TNG_RELEASE_NAME = "ghouls-tng-"+$env:GHOULS_TNG_BUILD_SUFFIX
  - export GHOULS_TNG_VERSIONED_STEM=$(make ci_echo_versioned_stem)
  - export GHOULS_TNG_BUILD_SUFFIXED_STEM=$(make ci_echo_build_suffixed_stem)

build_script:
  - ps: make ci_build VERBOSE=1 TASS=$HOME/tass64-code/64tass
  - env
    
artifacts:
  - path: $(GHOULS_TNG_VERSIONED_STEM).zip
    name: versioned-zip
  - path: $(GHOULS_TNG_BUILD_SUFFIXED_STEM).zip
    name: build-suffixed-zip

deploy:
  - release: $(GHOULS_TNG_RELEASE_NAME)
    description: |
      Details to follow
      
    provider: GitHub
    auth_token:
      secure: 4W5gLh9wP/h+mqHPWAnfkq+TdLFmrzC926Z1KZSM8A4HSkZ2bzS+cP/RAUkm9Qao
    artifact: versioned-zip,build-suffixed-zip
    draft: false
    prerelease: false
